---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=authorization_code&code=4%2F0eadCm5saT2_PNcIjKRlOg4x9cAG8cXR7ySP--QG9x4&redirect_uri=http%3A%2F%2F127.0.0.1%3A8200%2Fapi%2Fgoogle%2Fcallback&client_id=207948129196-i2m0i0a5rf5p8ats5148smvdpl33rtse.apps.googleusercontent.com&client_secret=LN6ejsYaA05w4zmLrlIwBRBn
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token" : "ya29.Ci9SA0Q0147iRIGGHCx0k_NZ_0MVxVtmB4RaWXfbJn4-BT6Gnhoiv6lIleanWqDaWA",
          "token_type" : "Bearer",
          "expires_in" : 3600,
          "refresh_token" : "1/yamSTjIa8afgmW04sDxFaXLnvkA_YSwH5cWotVZpuMs"
        }
  recorded_at: Fri, 02 Sep 2016 03:36:56 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci9SA0Q0147iRIGGHCx0k_NZ_0MVxVtmB4RaWXfbJn4-BT6Gnhoiv6lIleanWqDaWA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "kind" : "calendar#calendarList",
           "etag" : "\"p33of3ucqtrmss0g\"",
           "nextSyncToken" : "CPDx-Zru7c4CEhRnaG9sbG9tYmVAcGl2b3RhbC5pbw==",
           "items" : [
              {
                 "timeZone" : "America/Los_Angeles",
                 "foregroundColor" : "#000000",
                 "etag" : "\"1464747902360000\"",
                 "colorId" : "20",
                 "id" : "STUBBED_CALENDAR_ID",
                 "defaultReminders" : [],
                 "summary" : "STUBBED CALENDAR NAME",
                 "kind" : "calendar#calendarListEntry",
                 "backgroundColor" : "#cabdbf",
                 "accessRole" : "reader"
              }
           ]
        }
  recorded_at: Fri, 02 Sep 2016 03:36:59 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/STUBBED_CALENDAR_ID/events?maxResults=3&orderBy=startTime&singleEvents=true&timeMin=2016-09-02T16:42:08%2B08:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci9SA0Q0147iRIGGHCx0k_NZ_0MVxVtmB4RaWXfbJn4-BT6Gnhoiv6lIleanWqDaWA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "calendar#events",
            "etag": "\"p32gavsumgvrss0g\"",
            "summary": "SG Office",
            "description": "Singapore office calendar",
            "updated": "2016-09-05T01:20:04.868Z",
            "timeZone": "Asia/Singapore",
            "accessRole": "owner",
            "defaultReminders": [],
            "nextPageToken": "EiUKGmZlbXJycHJ0OHVkNmJta3NoZnZjNjl2OGgwGICA8OrCiM8C",
            "items": [
              {
                "kind": "calendar#event",
                "etag": "\"2945075838510000\"",
                "id": "sgnssaoho4jmlari7gtaqs8t50",
                "status": "confirmed",
                "htmlLink": "https://www.google.com/calendar/event?eid=c2duc3Nhb2hvNGptbGFyaTdndGFxczh0NTAgcGl2b3RhbC5pb19tNm9wMjdkbDV1MGZlZDNtcjlsanZpMWdyc0Bn",
                "created": "2016-08-30T06:18:39.000Z",
                "updated": "2016-08-30T06:18:39.255Z",
                "summary": "OUR STUBBED EVENT",
                "creator": {
                  "email": "ghollombe@pivotal.io"
                },
                "organizer": {
                  "email": "pivotal.io_m6op27dl5u0fed3mr9ljvi1grs@group.calendar.google.com",
                  "displayName": "SG Office",
                  "self": true
                },
                "start": {
                  "dateTime": "2016-09-07T18:30:00+08:00"
                },
                "end": {
                  "dateTime": "2016-09-07T20:50:00+08:00"
                },
                "iCalUID": "sgnssaoho4jmlari7gtaqs8t50@google.com",
                "sequence": 0,
                "reminders": {
                  "useDefault": true
                }
              }
            ]
        }

  recorded_at: Fri, 02 Sep 2016 08:42:08 GMT
recorded_with: VCR 3.0.3
