.widget {
  table {
    .value {
      font-weight: bold;
    }
  }
  .bottom-row {
    position: absolute;
    bottom: 10px;
    right: 5px;
    a {
      margin: 0 5px;
    }
  }
}
.ci-widget {
  padding: 5px 10px;
}
